ion-toolbar {
    --ion-background-color: transparent;
}

ion-content {
    --ion-background-color:#1fa74f !important;
    --ion-item-background: transparent !important;
}

ion-card {
    background-color: #ffffff;
    color: black;
}

ion-searchbar {
    background: #0044189b;
}

ion-menu {
    ion-toolbar {
        background-color: #080808;
    }

    ion-item {
        color: #080808;
        a {
            text-decoration: none;
            color: #080808;
        }
    }
}

ion-card {
    ion-card-content {
        p {
            text-align: justify;
        }
    }
}