<ion-header>
  <ion-toolbar>
    <ion-button (click)="toggleMenu()">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
    <ion-title>Mi Huerto</ion-title>
    <ion-button slot="end" (click)="irCarrito()">
      <ion-icon name="cart"></ion-icon>
      {{ carrito.length }}
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="terciary">
        <ion-title>Menú | {{ nombreUsuario }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="success">
      <ion-list>
        <ion-item><a routerLink="/inicio-cliente">Inicio</a></ion-item>
        <ion-item><a routerLink="/informacion-tienda">Información Tienda</a></ion-item>
        <ion-item><a routerLink="/localizacion">Ver Localización</a></ion-item>
        <ion-item><a routerLink="/ver-pedidos">Ver Pedidos</a></ion-item>
        <ion-item><a (click)="logout()">Cerrar Sesión</a></ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
  <ion-searchbar animated (ionChange)="buscar($event)" placeholder="Buscar..."></ion-searchbar>
  <ion-card *ngFor="let producto of productos | filtro : textoBuscar">
    <ion-card-header>
      <!-- <ion-img [src]="producto.foto"></ion-img> -->
    </ion-card-header>
    <ion-card-content>
      <h3>Nombre: {{ producto.nombre }}</h3>
      <p *ngIf="producto.categoria.nombre === 'Frutas' || producto.categoria.nombre === 'Verduras'; else otros">
        Precio: {{ producto.precio }} €/Kg
      </p>
      <ng-template #otros>
        <p>Precio: {{ producto.precio }} €</p>
      </ng-template>
      <p>Categoría: {{ producto.categoria.nombre }}</p>
      <p>Cantidad: {{ producto.cantidad }}</p>
      <ion-button color="primary" (click)="presentInput(producto.id)">Añadir al carrito</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>