<ion-header>
  <ion-toolbar>
    <ion-button (click)="toggleMenu()">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
    <ion-title>Localización</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="terciary">
        <ion-title>Menú | {{ nombreUsuario }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="success">
      <ion-list>
        <ion-item><a routerLink="/inicio-cliente">Inicio</a></ion-item>
        <ion-item><a routerLink="/informacion-tienda">Información Tienda</a></ion-item>
        <ion-item><a routerLink="/localizacion">Ver Localización</a></ion-item>
        <ion-item><a routerLink="/ver-pedidos">Ver Pedidos</a></ion-item>
        <ion-item><a (click)="logout()">Cerrar Sesión</a></ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
  <div id="map_canvas"></div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <br>
    <ion-fab-button color="danger" (click)="localizar()">
      <ion-icon name="pin"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
